compatible = "zmk,combos";

// 0  1  2  3  4  5                     6  7  8  9  10 11
// 12 13 14 15 16 17                    18 19 20 21 22 23
// 24 25 26 27 28 29   30          31   32 33 34 35 36 37
//               38 39 40 41    42 43 44 45


#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

COMBO(esc, &kp ESC, 15 20, BASE_L)
COMBO(caps, &caps_word, 16 19, BASE_L)
COMBO(apps, &kp LGUI, 25 36, BASE_L)
COMBO(vim_save, &vim_save, 22 2, BASE_L) // : + w -> ESC + :w
COMBO(vim_save_quit, &vim_save_quit, 22 1, BASE_L) // Like : + q -> ESC + :wq
// The famous only left hand
COMBO(ctlt, &kp LC(T), 4 5, BASE_L)
COMBO(ctla, &kp LC(A), 12 13, BASE_L)
COMBO(cut, &kp LC(X), 25 26, BASE_L)
COMBO(copy, &kp LC(C), 26 27, BASE_L)
COMBO(paste, &kp LC(V), 27 28, BASE_L)