/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>


#define BASE_L 0
#define NAV_L 1
#define SYM_L 2
#define NUM_L 3
#define FUN_L 4

// #define Undo   LC(Z)
// #define Cut    LC(X)
// #define Copy   LC(C)
// #define Paste  LC(V)
// #define Redo   LC(Y)


/ {
        // combos {
        //         compatible = "zmk,combos";

        //         combo_apps {
        //                 timeout-ms = <50>;
        //                 key-positions = <13 22>;
        //                 bindings = <&kp K_APP>;
        //         };
        //         combo_esc {
        //                 timeout-ms = <50>;
        //                 key-positions = <15 20>;
        //                 bindings = <&kp ESC>;
        //         };
        //         combo_caps {
        //                 timeout-ms = <50>;
        //                 key-positions = <16 19>;
        //                 bindings = <&kp CAPSLOCK>;
        //         };
        // };
        keymap {
                compatible = "zmk,keymap";

                base_layer {
                        bindings = <
&kp ESCAPE    &kp  Q        &kp  W        &kp  E        &kp  R        &kp  T                                                                         &kp  Y        &kp  U        &kp  I        &kp  O        &kp  P        &trans
&mo NUM_L   &mt  LGUI A        &mt LALT S        &mt LCTRL  D        &mt LSHIFT  F        &kp  G                                                       &kp  H        &mt RSHIFT  J        &mt RCTRL  K        &mt LALT  L        &mt RGUI  SEMI     &trans
&mo FUN_L    &kp Z        &kp  X        &kp  C        &kp  V        &kp  B        &trans                                           &trans    &kp  N        &kp  M        &kp  COMMA    &kp  DOT      &kp  SLASH    &trans
                                                    &trans &kp TAB      &lt SYM_L BACKSPACE     &trans                &trans &lt NAV_L SPACE    &kp ENTER  &trans 
                        >;
			
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };
		
                 nav_layer {
                         bindings = <
 &trans     &kp  K_PREV       &kp  K_NEXT       &kp  K_VOL_UP       &kp  K_VOL_DN       &trans                                                                        &trans      &kp K_SCROLL_DOWN      &kp   K_SCROLL_UP      &trans      &trans       &trans
 &trans      &kp  LGUI     &kp  LALT     &kp  LCTRL    &kp  LSHIFT    &trans                                                                     &trans      &kp  DOWN    &kp   UP      &kp   LEFT    &kp  RIGHT    &trans
 &trans        &kp  C_REWIND       &kp  C_FAST_FORWARD       &kp  K_MUTE       &kp  K_PLAY_PAUSE       &trans       &trans                                          &trans     &trans       &kp PAGE_DOWN      &kp PAGE_UP      &kp HOME    &kp  END      &trans
                                                         &trans        &trans        &trans        &trans                 &trans     &trans        &trans        &trans 
                         >;
 			
                         sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                 };

                 sym_layer {
                        bindings = <
&trans      &kp  TILDE     &kp  AT       &kp  HASH     &kp  DOLLAR   &kp  PERCENT                                                                   &kp  CARET    &kp  AMPS     &kp  ASTRK    &kp  QUESTION     &trans     &trans
&trans         &kp  EXCL     &kp  LEFT_PARENTHESIS    &mt  LCTRL LEFT_BRACKET    &kp  UNDERSCORE     &kp  MINUS                                     &kp  PLUS     &kp EQUAL    &mt  RCTRL RIGHT_BRACKET   &kp  RIGHT_PARENTHESIS     &kp  COLON     &trans
&trans        &kp  GRAVE     &kp  LEFT_BRACE    &trans     &kp  SINGLE_QUOTE     &kp  LESS_THAN     &trans                                          &trans     &kp  GREATER_THAN   &kp  DOUBLE_QUOTES &kp  BACKSLASH &kp  RIGHT_BRACE     &kp PIPE         &trans
                                                        &trans        &trans        &trans       &trans               &trans       &trans        &trans        &trans
                        >;
			
                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };

                 num_layer {
                        bindings = <
&trans      &trans     &trans       &trans     &trans   &trans                                                                   &trans    &kp  NUMBER_7     &kp  NUMBER_8    &kp  NUMBER_9     &trans     &trans
&trans         &kp LGUI     &kp LALT    &kp  LCTRL    &kp  LSHFT     &trans                                     &trans     &kp NUMBER_4    &kp  NUMBER_5   &kp  NUMBER_6     &trans     &trans
&trans        &trans     &trans    &trans     &trans     &trans     &trans                                          &trans    &trans &kp  NUMBER_1   &kp  NUMBER_2 &kp  NUMBER_3 &trans     &trans         
                                                        &trans        &trans        &trans       &trans               &trans       &trans        &trans        &trans
                        >;
			
                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };

                 function_layer {
                        bindings = <
&bootloader      &trans     &trans       &trans     &trans   &trans                                                                   &trans    &kp  F7     &kp  F8    &kp  F9     &kp F12     &trans
&sys_reset         &kp LGUI     &kp LALT    &kp  LCTRL    &kp  LSHFT     &trans                                     &trans     &kp F4    &kp  F5   &kp  F6     &kp F11     &trans
&trans        &trans     &trans    &trans     &trans     &trans     &trans                                          &trans    &trans &kp  F1   &kp  F2 &kp  F3 &kp F10     &trans         
                                                        &trans        &trans        &trans       &trans               &trans       &trans        &trans        &trans
                        >;
			
                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };
        };
};